<%- include('partials/header.ejs'); %>
    
    <div class="home-container">
        <img class="home-img" src="images/home-img.jpg" alt="photo">
        <div class="intro">
            <h2>Home</h1>
            <img class="img1" src="images/img1.jpg" alt="">
            <p><%= startingContent %></p>
        </div>
    </div>
    <div class="quote">
        <p><%=Quote%><br>~<%=author%></p>
    </div>
    <h1>Posts</h1>
        <% newPosts.forEach(post => { %>
            <div class="blog-body">
                <div>
                    <img class="blog-img" src="<%=post.postImg%>" alt="photo">
                </div>
                
                <div class="blog-post">
                    <h3><%=post.title%></h3>
                    <p class="blogs"><%=post.content.substring(0, 150) + "..."%><a href="/posts/<%=post._id%>">Read More</a></p>
                </div>
            </div>
        <% }); %>
<%- include('partials/footer.ejs'); %>
    
